h1 {
    text-shadow: 3px 2px white;
  }

.bordeer {
    border: 10px solid greenyellow;
}

table#t01 {
    width: 60%; 
    background-color: slateblue;
    border-spacing: 5px;
    font-size: 21px;
    line-height: 2;
  }

  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
    background-color: #fff;
  }
  table#t01 th {
    color: white;
    background-color: black;
  }

.Project {
    width: 40%;
    padding:90px;
    font-size:95px;
    float: left;
}
.Project2 {
    width: 40%;
    padding:90px;
    font-size:95px;
    float: right;
}

.logo {
    float: left;
    width: 45%;
    padding-top: 300px;

}

.logo2 {
    float: right;
    width: 40%;
    padding-top: 300px;

}

.footer{
    padding-top:20px;
    padding-bottom:10px;
    color:#000;
    font-weight:400i;
    font-size:9.5px;
    text-align:center;
    position: bottom;
  }
.bottomleft{
    position:absolute;
    left:0;
    bottom:0
}

.demopara {
    line-height: 2 ;
  }
  .button{
    background-color: #4CAF50;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    align-items: center;
  }

  .button button{
    background-color: #4CAF50;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    align-items: center;
  }
.maps{
    padding: 90px;
}
.container{
    padding: 20px;
}

.clear{
    clear:both
}